@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --color-primary: #000000;
  --color-secondary: #666666;
  --color-accent: #ffca3b;
  --color-border: #d7d7d7;

  --container-padding: 15px;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  --shadow-custom: 0px 4px 54px 10px rgba(18, 19, 21, 0.06);

  --background-image-hero: url('/assets/img/hero/hero_home_page.png');
  --background-image-herobooking: url('/assets/img/hero/booking_hero2.png');
  --background-image-herosports: url('/assets/img/sports/hero_sports.png');
  
}

body {
  font-family: "Barlow", sans-serif;
  @apply text-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
  @apply text-primary;
}

.h1 {
  @apply text-[40px] xl:text-[54px] uppercase font-black leading-[1.1];
}

.h2 {
  @apply text-[36px] xl:text-[46px] xl:leading-[56px] capitalize font-bold leading-[1.3];
}

.h3 {
  @apply font-bold text-3xl;
}

.h4 {
  @apply text-2xl font-semibold;
}