.container{
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.fullcard{
    /* padding: 10px 50px 10px 50px; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 2px solid #696969;;
    width: 70%;
    border-radius: 5px;
}

.imagecard{
    flex: 1;
    position: relative;
    width: 90%;
    height: 100%;
}

.detailscard{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 20px 20px 20px;
}

.heading{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0 10px 0;
    text-align: center;
}
.smallcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin-top: 20px;
    cursor: pointer;
}

.gpay, .applepay, .paypal, .amazonpay{
    border: 1px solid #696969;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.orDivider{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 25px;
}
.line{
    flex: 1;
    height: 1px;
    background-color: #ccd1d9;;
}




.section{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.value{
    border: 1px solid #ccd1d9;
    border-radius: 5px;
    padding: 10px 12px;
    margin-top: 5px
}
.smallsection{
    display: flex;
    flex-direction: column;
}

.cvv_exp{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.button{
   display: flex;         
    justify-content: center;
    margin-top: 40px;
}